parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon